alertmanager:
  enabled: true
  alertmanagerSpec:
    replicas: 1

  config:
    global:
      resolve_timeout: 5m

    inhibit_rules:
      - equal: ["alertname"]
        source_match:
          severity: critical
        target_match_re:
          severity: warning|info

      - equal: ["alertname"]
        source_match:
          severity: warning
        target_match_re:
          severity: info

    receivers:
      - name: Default
      - name: Watchdog
      - name: Critical

    route:
      group_by: ["namespace"]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: Default
      routes:
        - match:
            alertname: Watchdog
          receiver: Watchdog
        - match:
            severity: critical
          receiver: Critical
